<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1> Stephen's Integrations </h1>
  <a href="https://sharpspring.atlassian.net/rest/api/latest/search?jql=issuetype=%22integration%20task%22%20AND%20reporter=%22stephen%20leslie%22%20AND%20status!=Done%20AND%20status!=Declined%20AND%20status!=%22Customer%20Declined%22&fields=summary,id,key,reporter,customfield_10007,duedate,status,description&maxResults=100">a very long api link for issues</a><br>
  <a href="https://sharpspring.atlassian.net/rest/api/latest/search?jql=project=PS%20AND%20assignee=%22stephen%20leslie%22%20AND%20issuetype=Epic%20AND%20status!=done%20AND%20status!=declined%20AND%20status!=%22customer%20declined%22+order+by+summary&fields=id,summary,status,customfield_10700,description">a very long api link for epics</a><br>
  <div id="body">
    loading
  </div>
  <script src="main.js"></script>
</body>
